@import "shared-colors";

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.spare {
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  text-align: center; }

.spare-info {
  margin-top: 12.36px;
  border: 2px solid $color2;
  border-radius: 5px; }

.spare-label {
  margin-left: 12.36px; }

.square {
  color: $color1;
  background: $color3;
  border: 1px solid $color2;
  float: left;
  font-size: 28px;
  font-weight: bold;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.square-btn:hover {
  background-color: $color4;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: $color4  ;
}

.game {
  display: flex;
  flex-direction: row;
  position:fixed;
  left:20px;
  top:20px;
}

.game-header {
  // border: 2px solid $color2;
  // border-radius: 5px;
}

.game-board {
  min-width: 245px;
  max-height: 245px;
  border: 2px solid $color2;
  border-radius: 5px;
  padding: 5px;
}

.game-info {
  font-size: calc(10px + 1vmin);
  font-weight: 100;
  margin-left: 20px;
  text-align: left;
  border: 2px solid $color2;
  border-radius: 5px;
  padding: 5px;
}

.game-info a {
  color: $color5
}
