.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.spare {
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
}

.square {
  color: #777;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.square-btn:hover {
  background-color: yellow;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  position:fixed;
  left:20px;
  top:20px;
}

.game-board {
  min-width: 245px;
}

.game-info {
  margin-left: 20px;
  text-align: left;
}
